# Ignorar archivos de configuración de sistema
*.log
*.dat
*.bak
*.swp
*.tmp

# Ignorar directorios de sistema
/.android/
/.vscode/
/AppData/
/OneDrive/
/Desktop/
/Documents/
/Downloads/
/Pictures/
/Videos/

# Ignorar archivos de usuario
ntuser.dat


