# Archivos y carpetas del sistema
*.log
*.bak
*.swp
*.tmp
ntuser.dat
NTUSER.DAT
ntuser.ini
.DS_Store
Thumbs.db

# Archivos de configuración del sistema
**/.android/
**/.vscode/
**/AppData/
**/Cookies/
**/Datos de programa/
**/Favorites/
**/Links/
**/Microsoft/
**/Music/
**/Saved Games/
**/Searches/

# Archivos de Java
**/*.log
**/*.sql

# Otros archivos no rastreados
.emulator_console_auth_token
.gitconfig
.lesshst
.openjfx/
.sambox.cache
.skiko/
.viminfo
AndroidStudioProjects/
Favorites/
Links/
Microsoft/
Music/
NTUSER.DAT
NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf
NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms
Saved Games/
Searches/
java_error_in_studio_15964.log
java_error_in_studio_472.log
ntuser.ini
respaldobyb.sql




