# Archivos y carpetas del sistema
*.log
*.bak
*.swp
*.tmp
ntuser.dat
NTUSER.DAT
ntuser.ini
.DS_Store
Thumbs.db

# Archivos de configuración del sistema
**/.android/
**/.vscode/
**/AppData/
**/Cookies/
**/Datos de programa/
**/Favorites/
**/Links/
**/Microsoft/
**/Music/
**/Saved Games/
**/Searches/

# Archivos de Java
**/*.log
**/*.sql

# Otros archivos no rastreados
**/.emulator_console_auth_token
**/.gitconfig
**/.lesshst
**/.openjfx/
**/.sambox.cache
**/.skiko/
**/.viminfo



